# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media

# Sensitive Files
**/serviceAccountKey.json
*.key
*.pem
*.env
**/credentials.json
**/*_credentials.*
**/*secret*
**/*private*

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log

# Misc
.DS_Store
Thumbs.db
